/*Various styling detaisl to revlevant elements */
body{
	font-family:helvetica;
}
h5{
	font-weight:bold;
}
.thumb{
	text-align:center;
	margin-top:40px;
	margin-bottom: 40px;
}
.thumbnail{
	padding:0px;
	width: 300px;
}



.textbox {
	display: none;
	text-align:center;
	padding: 15px;
	
}

.show {
	padding: 0px;
}

.navbar {
	/*instructions to make navbar sticky with high z-index so doesnt dissapear behing other elements */
  position: fixed; 
  width: 100%; 
  z-index:9999;

}

button {
	padding: 0px;
}
form {
	/* form desing and styling with border effect */
  
  align-items: center;
  justify-content: center;
  width:90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 15px;
  border-radius: 8px;
  margin-top:20px;
  font-size: 21px;
    
}

#contact{
	padding-left:0px;
	padding-right:0px;
	
}
/* submit button styling on form, hover affect added to change button colour when hovering over submit button. */
#submit {
 padding:20px;
  text-align:center;
  width:100%;
  height:4em;
  border-radius:10px;
  font-size:17px;
  color: #2a2b33;
  background-color: white;
  cursor: pointer;
}
#submit:hover {
  background-color: rgb(214, 246, 236);
  transition: .5s ease background-color;
}
#features{
	padding: 0px;

}
#salesSupport{
	width: 30%;
	min-width:350px;
}
#localRep {
	text-align:center;
	padding-left:0px;
	padding-right:0px;
}
#formTitle{
	font-weight:bold;
}
#rep{
	font-weight:bold;
	
}
#textarea{
	float:left;
  width:90%;
  min-height: 150px;
  margin-bottom:50px;
  
}
.areas{
	padding-top: 75px;
	
}
.imageButton{
  background-color: transparent;
  border: none;
}
.contactTitle{
	text-align:center;
	padding-top: 40px;
	margin-top:20px;
}
.repButton {
		/* styling of button to show local rep details*/
        display: inline-block;
        background-color: white;
        border-radius: 10px;
        color:  #5bc0de;
        text-align: center;
        font-size: 12px;
        padding: 20px;
        width: 150px;
        cursor: pointer;
        margin: 5px;
		    font-weight: bold;
}
.territory{
	font-size: 21px;
	margin-top:10px;
	
}
@media(max-width: 1200px){
	/*media query to format text areas attached to pictures at smaller screen sizes to improve layout */
	.textbox{
		text-align:center;
		margin-left:0px;
	}
}

/* styling for text wrap on thumbnails which shows text with mouse hover over images, also dims picutre to make text more visable */ 
.fullwrap {
  position: relative; 
 
}
 

.fullwrap img { width: 100%; }
 

.fullcap {
 
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  text-align: center;
  padding-top: 30%;
  background-color: rgba(0, 0, 0, 0.7);
  color: yellow;
  font-weight:bold;
}
 
.fullcap {
  visibility: none; opacity: 0;
  transition: opacity 0.3s;
}
.fullwrap:hover .fullcap {
  visibility: visible; opacity: 1;
}